@import "src/assets/variables.scss";

.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 5px;
    width: 502px;
    height: 50px;
    background-color: $white;
    color: $font-color;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

 @media screen and (max-width: $mobile){
    width: 465px;
}
  
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #dfe5ec;
      cursor: pointer;

      &:first-child {
        border-width: 1px 0 1px 1px;
      }
    
      &:last-child{
        border-width: 1px 1px 1px 0;
      }
  
    }
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: inherit;
    background-color: $white;
    cursor: pointer;

    &.selected,
    &:hover{
      background: $btn-color;
      color:$white;
    }
  
  }
