@import "src/assets/variables.scss";

.app{
    width: 100%;
    height: 100%;
    padding: 20px 0;

    @media screen and (max-width: $mobile){
        min-width: 550px;
}
}

.app__wrapper{
    max-width: 780px;
    margin: 0 auto;
    display: flex;
    gap: 20px;

    @media screen and (max-width: $mobile){
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
}
}

.app__main{ 
    display: flex;
    gap: 15px;
    flex-direction: column;
}
